<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="initial-scale=1">
    <title>@alldne anime tracker</title>
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont,
                     "Segoe UI", "Roboto", "Oxygen",
                     "Ubuntu", "Cantarell", "Fira Sans",
                     "Droid Sans", "Helvetica Neue", sans-serif;
        color: #444;
      }
      .date {
        color: #999;
        margin-left: 20px;
        font-size: 12px;
      }
      .quote {
        margin-top: 3px;
        padding-left: 25px;
        font-size: 14px;
        color: #999;
      }
      .dash {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h2><a href='https://github.com/alldne'>정용욱</a>의 감상 목록</h2>
    <ul>
      <% list.forEach(item => { %>
        <% item.episodes.forEach(title => { %>
        <li>
          <%= title.title %> <span class='date'><%= item.date %></span>
          <% title.quotes.forEach(quote => { %>
          <ul class='quote'>
            <li><%= quote.jp %><span class='dash'>—</span><%= quote.kr %></li>
          </ul>
          <% }) %>
        </li>
        <% }) %>
      <% }) %>
    </ul>
  </body>
</html>
